body {
  width: 28cm;
  height: 40cm;
  font-size: 12px;
  text-align: center;
}

table {
  width: 100%;
}

div.card {
  padding-top: 1px;
  padding-bottom: 12px;
  padding-left: 8px;
  padding-right: 8px;
}

img.card {
  width: 6.5cm;
  margin: auto;
  display: block;
  border-radius: 10px;
}

div.cardTitle {
  font-size: 200%;
  padding-top: 8px;
  padding-bottom: 8px;
}

div.card {
  border-style: solid;
  border-color: #e0e0e0;
  border-width: 1px;
  border-radius: 12px;
  margin-bottom: 1cm;
  background-color: #f0f0f0;
}

td.roma.large, td.kana.large {
  font-size: 200%;
  background-color: rgba(0,0,0,0); /* transparent */
  padding-left: 0px;
  text-align: center;
}

div.compact td.roma.large, div.compact td.kana.large {
  font-size: 150%;
}

td.roma, td.kana {
  background-color: white;
  padding-left: 8px;
  text-align: left;
  border-radius: 100px;
  font-size: 120%;
}
td.roma {
  font-size: 140%;
}

div.compact td.roma, div.compact td.kana {
  font-size: 80%;
  padding-left: 5px;
}

td.num {
  color: #808080;
  text-align: right;
}

@media print {
  .noprint {
    display: none;
  }
}
