body {
  font-size: 12px;
  text-align: center;

  font-family: "M PLUS 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

table {
  width: 100%;
}

div.card {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 8px;
  padding-right: 8px;
  border-style: solid;
  border-color: #e0e0e0;
  border-width: 1px;
  border-radius: 12px;
  background-color: #f0f0f0;
}

img.card {
  width: 6.5cm;
  margin: auto;
  display: block;
  border-radius: 10px;
}

div.cardTitle {
  font-size: 14px;
  padding-bottom: 8px;
}

td.roma.large,
td.kana.large {
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);
  /* transparent */
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
}

div.compact td.roma.large,
div.compact td.kana.large {
  font-size: 20px;
}

td.roma,
td.kana {
  background-color: #f8f8f8;
  padding-left: 8px;
  padding-right: 8px;
  text-align: right;
  border-radius: 100px;
  font-size: 16px;
  white-space: nowrap;
  border-color:#f8f8f8;
  border-style: solid;
  border-width: 1px;
}

td.roma {
  font-size: 18px;
}

div.compact td.roma,
div.compact td.kana {
  font-size: 11px;
  padding-left: 5px;
}

td.num {
  color: #808080;
  text-align: right;
  white-space: nowrap;
}

td.stretch {
  width: 30%;
}

div.header {
  background-color: #bbdbe9;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.header span.right {
  position: absolute;
  right: 20px;
}

td.except {
  background-color: #f4f9d0;
  border-color: #b8cf10;
}

span.suff {
  color: blue;
}

span.suff2 {
  color: red;
}

@media print {
  div.header.noprint {
    display: none;
	visibility: hidden;
  }
}

/* 
@media screen {
  body {
	border: solid 1px red;
  }
}
*/
