div.collapsed div {
  display: none;
}

div.collapsible.collapsed img {
  content: url("img/Collapsible-collapsed.png");
}
div.collapsible.collapsed img:hover {
  content: url("img/Collapsible-collapsed-hover.png");
}
div.collapsible img {
  content: url("img/Collapsible-expanded.png");
  padding-left: 8px;
  padding-right: 8px;
}

div.collapsible img:hover {
  content: url("img/Collapsible-expanded-hover.png");
}

h1:hover {
  background-color: #dcebf5;
}

h1 {
  background-color: #f5f5dc;
  font-size: 125%;
}

hr {
  margin-top: 1em;
  margin-bottom: 1em;
}

div.flushright  {
  text-align: right;
}

div.blank  {
  display: inline-block;
  width: 2em;
  height: 2em;
}

span.practice {
  font-size: 300%;
  writing-mode: vertical-rl;
  vertical-align: top;
}

dt {
  font-weight: bold;
}

/* Decrease the default kana size to allow 3 kana */
ruby rt {
  font-size: 33%;
}

rt {
  border: 2px solid rgba(0, 0, 0, 0);
}
rb {
  border: 2px solid rgba(0, 0, 0, 0);
}

/* ---- hide kanji ---- */

div.kanji rb {
  border: 2px solid blue;
  color: rgba(0, 0, 0, 0);
}

/* ---- Trace kanji ---- */

div.trace rb {
  border: 2px solid blue;
  color: #E0E0E0;
}

/* ---- hide phonetics ---- */

div.phonetics rt {
  border: 2px solid blue;
  color: rgba(0, 0, 0, 0);
}

/* ---- hide controls for printing ---- */
@media print {
  .noprint, .noprint * {
    display: none !important;
  }
}
